snippet ArchLinuxPackages Gitignore Template
        ### ArchLinuxPackages ###
        *.tar
        *.tar.*
        *.zip
        *.tgz
        *.log
        *.log.*
        *.sig
        
        # AUR metadata
        .AURINFO
        .SRCINFO
        
        pkg/
        src/
        ${0}
