snippet MicrosoftOffice Gitignore Template
        ### MicrosoftOffice ###
        *.tmp
        
        # Word temporary
        ~$*.doc*
        
        # Excel temporary
        ~$*.xls*
        
        # Excel Backup File
        *.xlk
        ${0}
